@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a {
  display: inline-block; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top;
  max-width: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
body {
  font-family: 'Elsie', cursive;
  font-weight: 400;
  color: #333;
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  padding-top: 90px;
  padding-bottom: 90px; }
  @media (max-width: 1200px) {
    .container {
      padding-top: calc(45px + 45 * (100vw - 320px) / 880); } }
  @media (max-width: 1200px) {
    .container {
      padding-bottom: calc(45px + 45 * (100vw - 320px) / 880); } }

.container--s {
  max-width: 870px;
  margin: 0 auto; }

.ta-c {
  text-align: center; }

.m-0-auto {
  margin: 0 auto; }

@-webkit-keyframes gradient {
  0% {
    background-position: 0 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 0%; } }

@keyframes gradient {
  0% {
    background-position: 0 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 0%; } }

.btn {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  padding: 15px 30px;
  border-radius: 12px;
  text-transform: uppercase;
  font-family: 'Elsie', cursive; }

.btn-primary {
  color: #fff;
  background: #96e4dd;
  background: -webkit-gradient(linear, left top, left bottom, from(#96e4dd), to(#5dc4b8));
  background: linear-gradient(180deg, #96e4dd 0%, #5dc4b8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#96e4dd",endColorstr="#5dc4b8",GradientType=1); }
  .btn-primary:hover {
    background: #96e4dd;
    background: -webkit-gradient(linear, left bottom, left top, from(#96e4dd), to(#5dc4b8));
    background: linear-gradient(360deg, #96e4dd 0%, #5dc4b8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#96e4dd",endColorstr="#5dc4b8",GradientType=1); }

.btn-secondary {
  background: transparent;
  color: #5dc4b8;
  border: 1px solid rgba(93, 196, 184, 0.5); }
  .btn-secondary:hover {
    background: #5dc4b8;
    color: #fff; }

.btn--no-bg {
  text-transform: capitalize;
  padding: 13px 20px;
  background: transparent;
  color: #333;
  font-family: 'Manrope', sans-serif; }
  .btn--no-bg:hover {
    color: #5dc4b8; }

h1 {
  font-family: 'Elsie', cursive;
  margin-right: 20px;
  max-width: 450px;
  font-weight: 900;
  font-size: 72px;
  margin-bottom: 23px; }
  @media (max-width: 1200px) {
    h1 {
      font-size: calc(56px + 16 * (100vw - 320px) / 880); } }
  @media (max-width: 1200px) {
    h1 {
      margin-bottom: calc(9px + 14 * (100vw - 320px) / 880); } }
  @media (max-width: 576px) {
    h1 {
      max-width: 430px; } }

h2 {
  margin-bottom: 23px;
  color: #ef633e;
  font-family: 'Manrope', sans-serif;
  font-size: 20px;
  font-weight: 700; }

h3 {
  margin-bottom: 17px;
  font-family: 'Elsie', cursive;
  font-size: 24px;
  font-weight: 900; }

.title {
  font-size: 56px;
  font-size: 56px;
  font-weight: 900;
  margin-bottom: 11px; }
  @media (max-width: 1200px) {
    .title {
      font-size: calc(40px + 16 * (100vw - 320px) / 880); } }

.subtitle {
  font-size: 20px;
  font-family: 'Manrope', sans-serif;
  max-width: 470px;
  margin-bottom: 36px; }
  @media (max-width: 1200px) {
    .subtitle {
      max-width: calc(305px + 165 * (100vw - 320px) / 880); } }
  @media (max-width: 1200px) {
    .subtitle {
      margin-bottom: calc(16px + 20 * (100vw - 320px) / 880); } }

.text {
  font-size: 16px;
  font-family: 'Manrope', sans-serif;
  max-width: 470px;
  margin-bottom: 36px; }
  @media (max-width: 1200px) {
    .text {
      max-width: calc(305px + 165 * (100vw - 320px) / 880); } }
  @media (max-width: 1200px) {
    .text {
      margin-bottom: calc(16px + 20 * (100vw - 320px) / 880); } }

.text--opacity {
  line-height: 32px;
  opacity: 0.5;
  margin-bottom: 0; }

.content-img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .content-img .radius-block {
    width: 270px;
    height: 415px;
    border-radius: 100px 24px 24px 24px; }
    @media (max-width: 1200px) {
      .content-img .radius-block {
        width: calc(145px + 125 * (100vw - 320px) / 880); } }
    @media (max-width: 1200px) {
      .content-img .radius-block {
        height: calc(230px + 185 * (100vw - 320px) / 880); } }
    .content-img .radius-block img {
      height: 450px;
      right: -8px;
      bottom: 0;
      position: absolute;
      -o-object-fit: cover;
         object-fit: cover;
      border-radius: 0 0 35px 0; }
      @media (max-width: 1200px) {
        .content-img .radius-block img {
          height: calc(252px + 198 * (100vw - 320px) / 880); } }
  .content-img .button-play {
    width: 160px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-radius: 100px;
    -webkit-box-shadow: 0px 24px 48px rgba(0, 24, 52, 0.2);
            box-shadow: 0px 24px 48px rgba(0, 24, 52, 0.2);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    @media (max-width: 1200px) {
      .content-img .button-play {
        width: calc(90px + 70 * (100vw - 320px) / 880); } }
    .content-img .button-play:hover {
      -webkit-box-shadow: none;
              box-shadow: none; }
  .content-img__left-block {
    margin-right: 30px; }
    @media (max-width: 1200px) {
      .content-img__left-block {
        margin-right: calc(17px + 13 * (100vw - 320px) / 880); } }
  .content-img .radius-block--l {
    margin-bottom: 30px;
    position: relative;
    background: #f89c72;
    background: -webkit-gradient(linear, left top, left bottom, from(#f89c72), to(#ef633e));
    background: linear-gradient(180deg, #f89c72 0%, #ef633e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f89c72",endColorstr="#ef633e",GradientType=1); }
    @media (max-width: 1200px) {
      .content-img .radius-block--l {
        margin-bottom: calc(17px + 13 * (100vw - 320px) / 880); } }
  .content-img .radius-block--xs {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    width: 200px;
    height: 95px;
    background: #96e4dd url(../img/waves.png) center center no-repeat;
    background: url(../img/waves.png) center center no-repeat, -webkit-gradient(linear, left top, left bottom, from(#96e4dd), to(#5dc4b8));
    background: url(../img/waves.png) center center no-repeat, linear-gradient(180deg, #96e4dd 0%, #5dc4b8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#96e4dd",endColorstr="#5dc4b8",GradientType=1);
    border-radius: 16px 32px 16px 16px; }
    @media (max-width: 1200px) {
      .content-img .radius-block--xs {
        width: calc(115px + 85 * (100vw - 320px) / 880); } }
    @media (max-width: 1200px) {
      .content-img .radius-block--xs {
        height: calc(55px + 40 * (100vw - 320px) / 880); } }
    @media (max-width: 768px) {
      .content-img .radius-block--xs {
        -webkit-transform: translateY(-18px);
                transform: translateY(-18px); } }
  .content-img .radius-block--s {
    height: 190px;
    background: #96e4dd url(../img/waves.png) center center no-repeat;
    background: url(../img/waves.png) center center no-repeat, -webkit-gradient(linear, left top, left bottom, from(#96e4dd), to(#5dc4b8));
    background: url(../img/waves.png) center center no-repeat, linear-gradient(180deg, #96e4dd 0%, #5dc4b8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#96e4dd",endColorstr="#5dc4b8",GradientType=1);
    border-radius: 24px 24px 24px 100px; }
    @media (max-width: 1200px) {
      .content-img .radius-block--s {
        height: calc(110px + 80 * (100vw - 320px) / 880); } }
  .content-img .radius-block--m {
    border-radius: 24px 24px 100px 24px;
    background: url(../img/1-welcome/welcome-image-2.jpg) center center/cover no-repeat; }
  .content-img .radius-block-avatar__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .content-img .radius-block-avatar__wrap-item {
      border-radius: 100px;
      overflow: hidden;
      max-width: 64px;
      max-width: 64px;
      margin-left: -15px; }
      @media (max-width: 1200px) {
        .content-img .radius-block-avatar__wrap-item {
          max-width: calc(37px + 27 * (100vw - 320px) / 880); } }
      .content-img .radius-block-avatar__wrap-item:first-child {
        margin: 0; }

.wrap-bg {
  overflow: hidden; }

.bg-circle {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 100%;
  -webkit-transform: translate(35%, -40%);
          transform: translate(35%, -40%);
  width: 900px;
  height: 900px;
  background: #ffe5dc;
  background: linear-gradient(135deg, #ffe5dc 0%, #d1f7f7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffe5dc",endColorstr="#d1f7f7",GradientType=1);
  z-index: -2; }
  @media (max-width: 1200px) {
    .bg-circle {
      width: calc(450px + 450 * (100vw - 320px) / 880); } }
  @media (max-width: 1200px) {
    .bg-circle {
      height: calc(450px + 450 * (100vw - 320px) / 880); } }

.bg-rectangale {
  content: "";
  position: absolute;
  height: 600px;
  height: 600px;
  -webkit-transform: translateY(80px);
          transform: translateY(80px);
  left: 0;
  right: 135px;
  border-radius: 0 24px 100px 0;
  background: #ffe5dc;
  background: linear-gradient(135deg, #ffe5dc 0%, #d1f7f7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffe5dc",endColorstr="#d1f7f7",GradientType=1);
  z-index: -2; }
  @media (max-width: 1200px) {
    .bg-rectangale {
      height: calc(320px + 280 * (100vw - 320px) / 880); } }
  @media (max-width: 1200px) {
    .bg-rectangale {
      right: calc(0px + 135 * (100vw - 320px) / 880); } }
  @media (max-width: 1540px) {
    .bg-rectangale {
      right: 0; } }
  @media (max-width: 992px) {
    .bg-rectangale {
      -webkit-transform: translateY(60px);
              transform: translateY(60px);
      height: 1000px; } }
  @media (max-width: 992px) and (max-width: 1200px) {
    .bg-rectangale {
      height: calc(840px + 160 * (100vw - 320px) / 880); } }

.section-welcome {
  position: relative;
  font-family: 'Manrope', sans-serif;
  width: 100vw;
  height: calc(100% - 80px); }
  .section-welcome .container {
    padding: 0 15px;
    padding-top: 112px; }
    @media (max-width: 1200px) {
      .section-welcome .container {
        padding-top: calc(16px + 96 * (100vw - 320px) / 880); } }
  .section-welcome__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 576px) {
      .section-welcome__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    @media (max-width: 576px) {
      .section-welcome__content-text {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2; } }
  @media (max-width: 576px) {
    .section-welcome {
      overflow-x: visible; } }
  @media (max-width: 576px) {
    .section-welcome .content-img {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-bottom: 45px; } }

.section-features .text {
  margin-bottom: 65px; }

.section-features .text--opacity {
  margin: 0 auto auto; }

.section-features__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -16px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.section-features__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  padding: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 768px) {
    .section-features__column {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 100%;
              flex: 0 1 100%; } }

.section-features__item {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  padding: 0 32px 32px 32px;
  background: #fff;
  -webkit-box-shadow: 0px 24px 48px rgba(0, 24, 52, 0.080899);
          box-shadow: 0px 24px 48px rgba(0, 24, 52, 0.080899);
  border-radius: 100px 24px 24px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%; }
  @media (max-width: 768px) {
    .section-features__item {
      margin: 0 20px 64px; } }
  .section-features__item-icon {
    margin: 0 auto 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 140px;
    height: 140px;
    border-radius: 100%;
    -webkit-transform: translateY(-16px);
            transform: translateY(-16px); }
  .section-features__item .icon-1 {
    background: #fff0ec;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff0ec), to(#ffddd4));
    background: linear-gradient(180deg, #fff0ec 0%, #ffddd4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fff0ec",endColorstr="#ffddd4",GradientType=1); }
  .section-features__item .icon-2 {
    background: #e4fffc;
    background: -webkit-gradient(linear, left top, left bottom, from(#e4fffc), to(#c5fff8));
    background: linear-gradient(180deg, #e4fffc 0%, #c5fff8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e4fffc",endColorstr="#c5fff8",GradientType=1); }
  .section-features__item .icon-3 {
    background: #fff8ec;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff8ec), to(#ffefd4));
    background: linear-gradient(180deg, #fff8ec 0%, #ffefd4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fff8ec",endColorstr="#ffefd4",GradientType=1); }

.section-features .item-2 {
  -webkit-transform: translateY(50px);
          transform: translateY(50px); }
  @media (max-width: 768px) {
    .section-features .item-2 {
      -webkit-transform: translateY(0);
              transform: translateY(0); } }

.section-features .item-3 {
  border-radius: 24px 24px 100px 24px; }
  @media (max-width: 768px) {
    .section-features .item-3 {
      margin-bottom: 0; } }

.section-about {
  position: relative; }
  .section-about .container {
    margin-top: 100px; }
    @media (max-width: 1200px) {
      .section-about .container {
        margin-top: calc(50px + 50 * (100vw - 320px) / 880); } }
  .section-about .title {
    margin-bottom: 25px; }
    @media (max-width: 1200px) {
      .section-about .title {
        margin-bottom: calc(12px + 13 * (100vw - 320px) / 880); } }
  .section-about .subtitle {
    margin-bottom: 18px; }
    @media (max-width: 1200px) {
      .section-about .subtitle {
        margin-bottom: calc(14px + 4 * (100vw - 320px) / 880); } }
  .section-about .text {
    margin-bottom: 32px;
    max-width: 370px; }
    @media (max-width: 1200px) {
      .section-about .text {
        margin-bottom: calc(16px + 16 * (100vw - 320px) / 880); } }
  .section-about .content-img__left-block {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px); }
  .section-about .radius-block--l {
    height: 450px;
    background: url(../img/3-about/about-image-2.jpg) center center/cover no-repeat; }
    @media (max-width: 1200px) {
      .section-about .radius-block--l {
        height: calc(255px + 195 * (100vw - 320px) / 880); } }
  .section-about .radius-block--s {
    background: #f89c72 url(../img/waves.png) center center no-repeat;
    background: url(../img/waves.png) center center no-repeat, -webkit-gradient(linear, left top, left bottom, from(#f89c72), to(#ef633e));
    background: url(../img/waves.png) center center no-repeat, linear-gradient(180deg, #f89c72 0%, #ef633e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f89c72",endColorstr="#ef633e",GradientType=1); }
  .section-about .radius-block--m {
    background: url(../img/3-about/about-image-1.jpg) center center/cover no-repeat; }
  .section-about__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 992px) {
      .section-about__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    .section-about__content-text {
      padding-left: 130px; }
      @media (max-width: 1200px) {
        .section-about__content-text {
          padding-left: calc(-80px + 210 * (100vw - 320px) / 880); } }

.section-header .container {
  padding-top: 15px;
  padding-bottom: 15px; }
  @media (max-width: 1200px) {
    .section-header .container {
      padding-top: calc(15px + 0 * (100vw - 320px) / 880); } }
  @media (max-width: 1200px) {
    .section-header .container {
      padding-bottom: calc(15px + 0 * (100vw - 320px) / 880); } }

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.logo {
  color: #333;
  font-size: 40px;
  font-weight: 900;
  margin-right: 60px;
  background: #e8083e;
  background: linear-gradient(135deg, #e8083e 0%, #11869d 50%, #010252 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e8083e",endColorstr="#010252",GradientType=1);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 400% 400%;
  -webkit-animation: gradient 4s ease-in-out 0s infinite;
          animation: gradient 4s ease-in-out 0s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-transition: all 1s ease;
  transition: all 1s ease; }
  .logo:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    color: #ef633e; }

.nav {
  margin-right: auto; }

.nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.nav-wrapper-link {
  position: relative;
  color: #333;
  font-family: 'Manrope', sans-serif;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .nav-wrapper-link:hover {
    color: #5dc4b8; }
  .nav-wrapper-link + .nav-wrapper-link {
    margin-left: 40px; }
  .nav-wrapper-link::before {
    content: '';
    bottom: -3px;
    left: 0;
    position: absolute;
    width: 0%;
    height: 2px;
    background: #5dc4b8;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  .nav-wrapper-link:hover:before {
    width: 100%; }
